<h1>Polls#show</h1>
<p>Find me in app/views/polls/show.html.erb</p>

<!-- this shows the actual questions to the poll -->

<b><%= @poll.title %></b>

<% if @admin_key %>

<%= link_to 'Edit Title', edit_poll_path(@poll.admin_token) %>
<br />

  The poll's public URL is: <%= link_to "localhost:3000/poll/#{@poll.id}", poll_path(@poll.id) %><br />

  <p>
  <i><%= @poll.title %> Questions</i>
  </p>
  <% Question.where(:poll_id => @poll.id).each do |question|  %>
  <li> <%= question.body %>  <%= question.id %>    <!-- DELETE QUESTION ID AFTER TESTING -->
    <%= link_to 'Edit', edit_question_path(question.id) %>
    <%= link_to 'Delete', question_path(question.id), :method => :delete %><br />
    <ul> <% Answer.where(:question_id => question.id).each do |answer|  %>
      <li><%= answer.body %>
    <% end %></ul>
  <% end %>

  <p>
    <%= link_to 'Add A Question', new_question_path(:poll => @poll) %>
  </p>

<% else %>

<br />

  This is what you see if you don't have the admin key!

<% end %>




